@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Dangrek", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.heanding{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(105, 104, 104, 0.256), rgba(0, 0, 0, 0.404)), url("../img/foodbackground.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.box-menu{
    width: 100%;
    height: 65px;
    overflow: hidden;
    background-color: rgba(255, 217, 0, 0.781);
    position: relative;
    position: fixed;
    z-index: 1;
}
.menubar{
    width: 80%;
    overflow: hidden;
    margin: auto;
  }
  .menu-left{
      width: 20%;
      overflow: hidden;
      float: left;
  }
  .menu-left img{
      width: 50%;
      overflow: hidden;
      height: 60px;
      margin-top: 8px;
      
  }
  .menu-right{
      width: 75%;
      overflow: hidden;
      position: absolute;
      left: 70%;
  }
  .menu-right ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
  }
  .menu-right ul li{
      float: left;
  }
  .menu-right ul li a{
      text-decoration: none;
     display:block;
      padding: 15px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      color: black;
      float: right;
  }
  .menu-right ul li a:hover{
      color: white;
      background-color: brown;
  }
  .text-box{
    position: absolute;
    display: flex;
    top: 450px;
    left: 50px;
    border: solid white 5px;
 }
 .box1{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
 }
 .img1{
    width: 80%;
    height: 300px;
    margin: auto;
 }
 .img1 img{
    width: 100%;
    height: 100%;
 }
 .box2{
    text-align: center;
    margin-top: 5px;
 }
 .box3{
    text-align: center;
    margin-top: 60px;
 }
 .box-group{
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
}
 .boxA{
    width: 280%;
    height: 550px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;

}
.boxA:hover{
    transform: translateY(20px);
}
.boxA::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 98%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(128, 115, 115, 0.5), rgb(0, 0, 0));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.boxA:hover::before{
    opacity: 1;
}
.boxA img{
    width: 98%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.text-box1{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 1;
    transform: translateY(30px);
    transition: 0.5s all;
}
.text-box1{
    opacity: 1;
    transform: translateY(0px);
}
.text-box h1{
    margin: 0;
}
.text-box p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.box4{
    text-align: center;
    margin-top: 50px;
}
.box5{
    text-align: center;
    margin-top: 50px;
}
.map{
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
.map iframe{
    width: 70%;
    height: 300px;
    margin-left: 15%;
}
.map h5{
   margin-left: 15%;
   font-size: 25px;
}
.map p{
    margin-left: 15%;
}
.end{
    width: 100%;
    height: 75px;
    background-color: orange;
    margin-top: 200px;
}
.end-left{
    width: 35%;
    height: 75px;
    float: left;
}
.end-left h4{
    float: left;
    padding: 20px;
}
.end-left img{
    width: 30%;
    height: 80px;
    float: left;
    padding: 15px;
}
.end-right{
    float: left;
}
.end-right h4{
    padding: 20px;
    margin-left: 350px;
}